@page "/Listings"
@inherits ListingsBase
@rendermode InteractiveServer

<h3>Component</h3>

<div>
	@foreach(var listing in Listings)
	{
		<div class="card m-3" style="min-width:18rem; max-width:30.5%">
			<div class="card-header">
				<h3>@listing.Title</h3>			
			</div>
			<div class="card-body">
				<h3>@listing.ID</h3>
			</div>
			<p>@listing.Description</p>
		</div>
	}
	<button class="btn btn-primary" @onclick=AddItem></button>
</div>