@page "/about"
@rendermode InteractiveServer

<PageTitle>About</PageTitle>

<main>
    <h1>Who Are We</h1>
    <div class="section-grid">
        <div class="info-section">
            <div class="half-img"><img src="/images/generalImages/our_story.jpg"/></div>    
            <h2>Our Story</h2>
            <p>
                We want to improve hotel operations, so this app was developed to centralize both employee
                and customer interactions. By adding essential services into one platform, we can improve hotel
                efficiency and improve guests' experience. 
            </p>
        </div>
        <div class="info-section">
            <div class="half-img"><img src="\images\generalImages\our_purpose.jpg")/></div>  
            <h2>Our Purpose</h2>
            <p>
                We want to improve hotel operations, so this app was developed to centralize both employee
                and customer interactions. By adding essential services into one platform, we can improve hotel
                efficiency and improve guests' experience. 
            </p>
        </div>
    </div>
</main>

<style>
    .section-grid { 
        border: 3px solid #fff;
        padding: 20px;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    }

    .info-section {
        width: 50%;
        float: left;
        padding: 20px;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .half-img{
        position: relative;
        width: 300px;  
        height: 200px; 
        overflow: hidden;  
        border-radius: 100px 100px 0 0;
        margin-bottom: 10px;
    }

    .half-img img {
        position: absolute;
        bottom: 0;  
        left: 50%;
        transform: translateX(-50%);  
        width: 100%; 
        height: auto;  
    }

    .h2 {
        font-weight: bold;
    }
</style>

@code {

}
