@page "/counter"
@rendermode InteractiveServer
@inject c_user c_users

<PageTitle>Counter</PageTitle>
  
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<p> </p>
<p>s</p>
<p> </p>
<h3>Welcome, @c_users.s_email</h3>
@if (c_users.b_isLoggedIn)
{
    <p>You are logged in.</p>
}
else
{
    <p>Please log in.</p>
}
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount = currentCount + 2 ;
    }
}
