@page "/dashboard"
@rendermode InteractiveServer

<div class="trips">
    <h2>Upcoming Trips:</h2>
</div>

<div class="trips">
    <h2>Previous Trips:</h2>
</div>

<style>
    @* @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;600&display=swap'); *@

    .trips{
        font-family: 'Lucinda Handwriting';
        border: 2px solid #000;
        padding: 20px;
        background-color: #f9f9f9;
        margin-bottom: 20px;
    }
</style>

@code {

}