@page "/mytrips"
@using Google.Cloud.Firestore

<PageTitle>My Trips</PageTitle>

<body>
    <h3>My Trips</h3>
    
    <h5>Upcoming Trips</h5>

    <h5>Previous Trips</h5>

    <div class="history-suggestion">
        <h4>Based on your history</h4>
        
    </div>
</body>

<style>
h3 {

}
</style>

@code {

}