@page "/userDashBoard"

<PageTitle>My Account</PageTitle>
<body>
    <div class="pg-hdr">
        <h1>My Account</h1>
        <div class="act-items">
            <ul>
                <li>My Trips</li>
                <li>Reward and Wallet</li>
                <li>Profile</li>
            </ul>
        </div>
    </div>

    <div class="userInfo">
        <h3>Hi, User</h3>
        <p>Member #</p>
    </div>

    <div class="trips">
        <h2>Upcoming Trips</h2>
        <h3>You have </h3> @*pull from user bookings*@ <h3> upcoming trips</h3>
    </div>
</body>

<style>
html, body {
    margin: 0;
    padding 0;
}

.pg-hdr {
    background: linear-gradient(180deg, #2969BF 0%, #144E9D 100%);
    color: #FFFFFF;
    width: 100%; 
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.act-items {
    margin-left: auto;
    margin-right: 20px;
}

ul {
    display: flex; 
    gap: 20px;  
    list-style-type: none; 
}  

.user-info {
    padding-top: 20px;
}

.trips{
    border: 1px solid #E0E0E0;
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
}
</style>