@page "/userDashBoard"

<PageTitle>User Dashboard</PageTitle>

<h1>Account Details</h1>
<div class="userInfo">
    <ul>
        <li>Name: @*pulls user's name from database*@</li>
        <li>Payment Method: @*pull users's payment methods from database*@</li>
        <li>Future Bookings: @*pulls user's future bookings from database*@</li>
        <li>Previous Bookings: @*pull user's previous bookings from database*@</li>
    </ul>
</div>

<style>

ul { 
    list-style-type: none;
}
</style>