@page "/login"

<PageTitle>Login Page</PageTitle>

<h1> Login </h1>
<form action="/fake.html"
method="POST"

<input type="email" placeholder="Enter Your email or member number " id="email" size="30" maxlength= "69" minlength="3" alt="place to put email" required>
<input type="password" placeholder="Enter your password " id="password" size="30" maxlength= "69" minlength="10" alt="place to put password" required>
<input type ="checkbox" id="Keep me signed in" name="KeepMe" value="SignedIn" >
<a href = "error">Forgot Password</a>
<input type ="submit" value="Login">
<img src = "images/loginpic.jpg" alt = "girl in vacay stretching out " width = "500" height = "600">
</form>
