.flexcontainer
{
    display: flex;
    margin: auto;
    background-color: rgb(249, 249, 249);
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 5px 4px #cecdcd;;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    height: 100%;
    gap: .5em;
}

.buttoncontainer
{
    max-width: 975px;
}

.listingcontainer
{
    max-width: 90%;
}