@page "/listings"
@rendermode InteractiveServer
<PageTitle>Listing Page</PageTitle>

<div class="flex-container">
	<div class="left">
		<h5 class="filter-heading-text" style="text-align: left; margin-left: 3rem; font-size: 1.2rem;">
			<p>Filter by:</p>
		</h5>
		<div class="filter-box">
			<div class="filter-box-top">
				<p class="filter-heading-text" style="margin: auto;">Your Budget Per Day</p>
			</div>
		</div>
		<div class="filter-box">
			<div class="filter-box-top">
				<p class="filter-heading-text" style="margin: auto;">Rating</p>
			</div>
		</div>
		<div class="filter-box">
			<div class="filter-box-top">
				<p class="filter-heading-text" style="margin: auto;">Popular Filters</p>
			</div>
		</div>
		<div class="filter-box">
			<div class="filter-box-top">
				<p class="filter-heading-text" style="margin: auto;">Activities</p>
			</div>
		</div>
		
	</div>
	<div class="right">
		<div class="hotel-info-border">
			Hello World
		</div>
	</div>
</div>

@code {
	private double getPrice()
	{
		//Will eventually call to firebase to get the price
		double price = 340;
		return price;
	}

	private double getRating()
	{
		//Will eventually call to firebase to get the rating
		double rating = 2.3;
		return rating;
	}

	private string getImg()
	{
		//Will eventually call to firebase to get the images

		string img = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.KGuRfbrIg5SoY92BTuGb2gHaHa%26pid%3DApi&f=1&ipt=dfc2e4ea498cf7e54e3256d3b5d7c46bf2f61f8329c6f2c79a234a89421964ff&ipo=images";
		
		return img;
	}
}
