.page[b-itgwrhsw0u] {
    position: relative;
    display: flex;
    flex-direction: row;

    font-family: 'Fraunces', serif;
}

main[b-itgwrhsw0u] {
    flex: 1;
}

.sidebar[b-itgwrhsw0u] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-itgwrhsw0u] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items:center;
    padding-left: 1rem;
}

.title-icon[b-itgwrhsw0u]{
    width: 25px;
    height: 25px;
    background-image: url('/images/plane_logo.png');
    background-repeat:no-repeat;
}

.nav-title[b-itgwrhsw0u]{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #1B1F2D;
    flex-grow: 1;
    margin-right: 5px;
    margin-top: 5px;
}

.navbar-toggle[b-itgwrhsw0u] {
    background-color: #007bff;
    border: none;
    cursor: pointer;
}

.navbar-toggle-icon[b-itgwrhsw0u] {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('data:image/svg+xml;charset=UTF8,%3csvg xmlns%3d"http%3a//www.w3.org/2000/svg" viewBox%3d"0 0 30 30"%3e%3cpath stroke%3d"rgba(0, 0, 0, 0.5)" stroke-width%3d"2" d%3d"M4 7h22M4 15h22M4 23h22"%3e%3c/path%3e%3c/svg%3e');
}

.navbar-nav[b-itgwrhsw0u]{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.nav-link[b-itgwrhsw0u] {
    color: #000;
    text-decoration: none;
}

.nav-link:hover[b-itgwrhsw0u] {
    color: #0056b3;
}

@media (max-width: 640.98px) {
    .top-row[b-itgwrhsw0u] {
        justify-content: space-between;
    }

    .top-row[b-itgwrhsw0u]  a, .top-row[b-itgwrhsw0u]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-itgwrhsw0u] {
        flex-direction: row;
    }

    /*.sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }*/

    .top-row[b-itgwrhsw0u] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-itgwrhsw0u]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-itgwrhsw0u], article[b-itgwrhsw0u] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-itgwrhsw0u] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-itgwrhsw0u] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
